<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 's.jpg', alt: 'sushi' %>)">
  <div class="banner-content">
    <h1>Restaurants</h1>
    <% @restaurants.each do |r| %>
    <div class="name">
      Name: <%= link_to r.name.capitalize, restaurant_path(r)%>
      <% end %>
    </div>
    <%= link_to "Create a new restaurant", new_restaurant_path, class:"btn btn-primary" %>
  </div>
</div>
