<h1>Restaurant de titeuf de l'amour</h1>
<% @restaurants.each do |r| %>
  <ul>
    <li>
      Name: <%= r.name %>
    </li>
    <li>
      Address: <%= r.address %>
    </li>
    <li>
      Category: <%= r.category %>
    </li>
  </ul>
<% end %>
